#titulo {
	border:1px solid black;
	color:white;
	text-align:left;
	background-color:#1859D9;
}
.titol{
	font-size:30px;
	font-family:Arial;
	text-align:center;
}
.usuario{
	text-align:right;
	color:white;
	font-size:20px;
	padding-right:10px;
}
#header {
	margin-top:-16px;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:38px;
	background-color:#1859D9;

}
#cos{
	background-color:#F8F8F8;
	margin:0 auto;

}
.container{
	border:1px solid black;

}
#footer{
	border:1px solid black;
	background-color:#07358F;

}
.peu{
	color:white;
	font-size:25px;
	font-family:Arial;
	text-align:center;
}
.context{
	font-size:20px;
	font-family:Sans;
	text-align:left;

}

.nav > a {
	float:left;
}
.nav a {
	background-color:#1859D9;
	color:white;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
.nav a:hover {
	background-color:#011336;
}
.nav a ul {
	display:none;
	position:absolute;
	min-width:140px;
}
.nav a:hover > ul {
	display:block;
}
.nav a ul a {
	position:relative;
}
.nav a ul a ul {
	right:-140px;
	top:0px;
}
#boto{
	padding-right:50px;
}
.title{
	margin:0px;
}
.registre{
	margin:0px;
	text-align:center;
}
.input{width:50%; float:left;}
.input1{text-align:center;}
.input2{text-align:center;}
.input3{text-align:center;}
.input4{width:50%; float:left;}
section {
	overflow: auto;
	padding-bottom: 60px;
	padding-top:30px;
}
footer {
	position: relative;
	margin-top: -50px;
	height: 40px;
	padding:5px 0px;
	clear: both;
	text-align: center;
}        

